<style type="text/css">
	table, th, td {
	    border: 1px solid black;
	}
</style>

<h1>Books in Genre <%= @genre.name %></h1>

<%= render :partial => 'shared/books', :locals => {:books => @books} %>


	