@import "bootstrap-sprockets";
@import "bootstrap";
@import "genres.scss";
@import "comments.scss";

.custom_nav{
	margin-top: 29px;
}

.edit_btn{
	float: right;
	margin-top: -48px;
}

.placeIt{
	margin-top: 10px;
}

.clear{
	clear: both;
}