@import "bootstrap-sprockets";
@import "bootstrap";
@import "genres.scss";
@import "comments.scss";

.custom_nav{
	margin-top: 35px;
	background-color: #efefef;
}

.edit_btn{
	float: right;
	margin-top: -48px;
}

.placeIt{
	margin-top: 10px;
}

.clear{
	clear: both;
}

.alert{
	border-radius: 4px;
    margin-bottom: 19px;
    margin-top: 13px;
    padding: 14px;	
}

#error_explanation{
	border: solid;
	background: #f0f2ea;
}

.main{
	margin-top: 94px;
}