<p><b><%= @review.title %></b></p>

<p><%= @review.description %> </p>

<%= render partial: "shared/comment_form",  locals: {comment: @comment,
										commentable_id:  @review.id,
										commentable_type: "Review",
										review_comments: @review_comments} %>